<?xml version="1.0"?>
<config>
    <modules>
        <Barcala_MassstockTest>
            <version>1.0.0</version>
        </Barcala_MassstockTest>
    </modules>

    <global>
        <blocks>
            <barcala_massstocktest>
                <class>Barcala_MassstockTest_Block</class>
            </barcala_massstocktest>
        </blocks>
    </global>

    <frontend>
        <routers>
            <barcala_massstocktest>
                <use>standard</use>
                <args>
                    <module>Barcala_MassstockTest</module>
                    <frontName>massstock</frontName>
                </args>
            </barcala_massstocktest>
        </routers>

        <layout>
            <updates>
                <barcala_massstocktest>
                    <file>massstocktest/massstocktest.xml</file>
                </barcala_massstocktest>
            </updates>
        </layout>
    </frontend>
</config>
